@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  height: 100dvh;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.truncate-three {
  display: inline-block;
  width: 7ch; /* 7 characters wide */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-item{
  overflow-y: scroll;
}
.overflow-item::-webkit-scrollbar{
  width: 7px;
}
.overflow-item::-webkit-scrollbar-track{
  background: rgb(203 213 225);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  background-clip: content-box;
}
.overflow-item::-webkit-scrollbar-thumb{
  background-color: rgb(203 213 225);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.overflow-item::-webkit-scrollbar-thumb:hover{
  background-color: rgb(57, 69, 95);
}